<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Analytics</title>
  <%= csrf_meta_tags %>

  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f8f9fa;
      color: #333;
      margin: 0;
      padding: 40px;
      line-height: 1.6;
    }

    h1, h2 {
      color: #2c3e50;
    }

    h1 {
      font-size: 2.5em;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 1.5em;
      margin-top: 40px;
      margin-bottom: 15px;
    }

    .search-box-title {
      text-align: center;
    }

    .search-box {
      position: relative;
      width: 100%;
      max-width: 600px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }

    #search-input {
      width: 100%;
      padding: 12px 40px 12px 15px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 16px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
      transition: border-color 0.3s ease;
    }

    #search-input:focus {
      border-color: #007bff;
      outline: none;
    }

    #clear-search {
      position: absolute;
      right: 10px;
      top: 46%;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      font-size: 30px;
      color: #999;
      cursor: pointer;
    }

    #clear-search:hover {
      color: #333;
    }

    #searchResults {
      margin-top: 10px;
      padding: 10px 15px;
      background-color: #ffffff;
      border-radius: 6px;
      border: 1px solid #ddd;
      box-shadow: 0 1px 2px rgba(0,0,0,0.05);
      max-width: 400px;
    }

    ul {
      list-style: none;
      padding-left: 0;
    }

    li {
      padding: 10px 15px;
      margin-bottom: 8px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 50px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.05);
      max-width: 400px;
    }

    .recent-search {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    strong {
      color: #2c3e50;
    }

    #analytics {
      max-width: 500px;
    }

    @media (max-width: 600px) {
      body {
        padding: 20px;
      }

      #search-input {
        font-size: 14px;
        flex: 1;
        display: block;
      }

      h1 {
        font-size: 2em;
      }

      h2 {
        font-size: 1.2em;
      }
    }
  </style>
</head>
<body>
  <h1>Real-time Search Analytics</h1>

  <h2 class="search-box-title">Search for an article:</h2>
  <div class="search-box">
    <input type="text" id="search-input" placeholder="Search for an article..." autocomplete="off">
    <button id="clear-search">&times;</button>
  </div>

  <div id="searchResults"></div>

  <h2>Recent Searches</h2>
  <ul id="recent-searches"></ul>
    <% if @recent_searches.empty? %>
      <li>No recent searches.</li>
    <% end %>
  </ul>

  <div id="analytics">
    <h2>Top Searches for user with IP address <%= request.remote_ip %></h2>
    <ul id="top-searches"></ul>
  </div>

  <script src="https://js.pusher.com/8.4.0/pusher.min.js"></script>
  <script>
    var pusher = new Pusher('730aa68ef78b70a9d947', {
      cluster: 'eu'
    });

    var channel = pusher.subscribe('search');
    channel.bind('create', function(data) {
      console.log('New search query received:', data);
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      function updateAnalytics() {
        fetch('/analytics')
          .then(response => response.json())
          .then(data => {
            let list = document.getElementById('top-searches');
            list.innerHTML = '';
            data.top_searches.forEach(function (item) {
              let li = document.createElement('li');
              li.textContent = `${item.query} (${item.count} searches)`;
              list.appendChild(li);
            });

            let recentSearches = document.getElementById('recent-searches');
            recentSearches.innerHTML = '';
            data.recent_searches.forEach(function (item) {
              let li = document.createElement('li');
              li.className = 'recent-search';
              li.innerHTML = `<strong>${item.query}</strong> ${new Date(item.created_at).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })}`;
              recentSearches.appendChild(li);
            });
          })
          .catch(error => console.error('Error fetching analytics:', error));
      }

      updateAnalytics();

      const searchResults = document.getElementById('searchResults');
      let searchInput = document.getElementById('search-input');
      let clearSearchButton = document.getElementById('clear-search');

      searchInput.addEventListener('input', function () {
        let query = searchInput.value;
        if (query.length > 0) {
          let data = new FormData();
          data.append('query', query);
          data.append('authenticity_token', '<%= form_authenticity_token %>');

          fetch('/search_queries', {
            method: 'POST',
            body: data
          })
          .then(response => response.json())
          .then((data) => {
            searchResults.innerHTML = data.result || 'No results found';
          })
          .catch(error => console.error('Error logging search query:', error));
        } else {
          searchResults.innerHTML = '';
        }
      });

      clearSearchButton.addEventListener('click', function () {
        searchInput.value = '';
        searchResults.innerHTML = '';

        updateAnalytics();
      });
    });
  </script>
</body>
</html>
